body {
  margin: 0;
  text-align: center;
}
header {
  margin: 0 auto;
  width: 431px;
}
canvas{
  margin-top:50px;
  border: 1px solid black;
}
@media (max-width: 768px) {  
  canvas{
    margin: 0;
    width: 100vw;
    height: 98vh;
  }
}