*{
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.container {
    width: 800px;
    height: 800px;
    display: flex;
    background-color: lightgray;
    overflow: hidden;

}
.line {
    position: relative;
    margin-top: 100px;
    display: flex;
    background: white;
    height: 240px;
    border: 1px solid gray;
    
}



.block {
    margin: 20px;
    width: 200px;
    height: 200px;
    background: lightblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
